<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="local" value="C:\Users\Guilherme\Documents\Visual Studio 2015\Projects\e2Etiquetas\vs\bin\Debug" />
    <add key="arquivo" value="e2Etiquetas.exe.config" />
    <!--Conversão de DOTS por MILIMETRO-->
    <add key="convert" value="8" />
    <!-- UNIDADE 8DOTS/1mm -->
    <!--Tamanho por caractere-->
    <add key="code39" value="20" />
    <add key="code128" value="27" />
    <!--TESTE-->
    <add key="geral" value="^XA^LH35,30^FO1,1^BY2^BCN,100,N,N^FD123456789^FS^ADN,20^FB0,2,0,C,0^FD123456789^FS^XZ" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="conexao" connectionString="Data Source=GS\SQLEXPRESS;Initial Catalog=Etiquetas;Integrated Security=True" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>