<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="local" value="G:\Projetos\e2Etiquetas\vs\bin\Debug"/>
    <add key="arquivo" value="e2Etiquetas.exe.config"/>

    <!--Conversão de DOTS por MILIMETRO-->
    <add key="convert" value="8"/>
    <!-- UNIDADE 8DOTS/1mm -->

    <!--Tamanho por caractere-->
    <add key="code39" value="20"/>
    <add key="code128" value="27"/>

    <!--TESTE-->
    <add key="geral" value="^XA^LH35,30^FO1,1^BY2^BCN,100,N,N^FD123456789^FS^ADN,20^FB0,2,0,C,0^FD123456789^FS^XZ"/>

  </appSettings>

  <connectionStrings>
    <add name="conexao" connectionString="Data Source=GS\SQLEXPRESS;Initial Catalog=Etiquetas;Integrated Security=True" />
  </connectionStrings>
</configuration>